@font-face {
  font-family: "iconfont"; /* Project id 3423921 */
  src: url('//at.alicdn.com/t/font_3423921_vb8a6e4kbzr.woff2?t=1653391191605') format('woff2'),
       url('//at.alicdn.com/t/font_3423921_vb8a6e4kbzr.woff?t=1653391191605') format('woff'),
       url('//at.alicdn.com/t/font_3423921_vb8a6e4kbzr.ttf?t=1653391191605') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianshu:before {
  content: "\e622";
}

.icon-csdn:before {
  content: "\e60d";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e601";
}

.icon-gmail:before {
  content: "\e60c";
}

.icon-links:before {
  content: "\e7d2";
}

.icon-uniF197:before {
  content: "\e6df";
}

.icon-24gf-heartPulse:before {
  content: "\e89a";
}

.icon-QQ:before {
  content: "\e698";
}

.icon-weixin:before {
  content: "\e667";
}

.icon-xinlangweibo:before {
  content: "\e65b";
}

.icon-Github:before {
  content: "\e612";
}

.icon-csdn1:before {
  content: "\e608";
}

.icon-bilibili1:before {
  content: "\e609";
}

