@font-face {
  font-family: "iconfont"; /* Project id 3423921 */
  src: url('//at.alicdn.com/t/font_3423921_mi0u27qpn4.woff2?t=1653359360564') format('woff2'),
       url('//at.alicdn.com/t/font_3423921_mi0u27qpn4.woff?t=1653359360564') format('woff'),
       url('//at.alicdn.com/t/font_3423921_mi0u27qpn4.ttf?t=1653359360564') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixinfang:before {
  content: "\e61b";
}

.icon-QQkongjian:before {
  content: "\e7d9";
}

.icon-Github:before {
  content: "\e605";
}

.icon-github:before {
  content: "\e600";
}

.icon-csdn:before {
  content: "\e601";
}

.icon-githubbox:before {
  content: "\e602";
}

.icon-QQ:before {
  content: "\e698";
}

.icon-weixin:before {
  content: "\e667";
}

.icon-xinlangweibo:before {
  content: "\e65b";
}

.icon-Github1:before {
  content: "\e604";
}

.icon-bilibili:before {
  content: "\e603";
}

.icon-jianshu:before {
  content: "\e606";
}

.icon-jianshu1:before {
  content: "\e607";
}

.icon-Gmail:before {
  content: "\e66a";
}

.icon-QQ1:before {
  content: "\e641";
}

.icon-Github2:before {
  content: "\e612";
}

.icon-github1:before {
  content: "\e722";
}

.icon-csdn1:before {
  content: "\e608";
}

.icon-Bilibili:before {
  content: "\e6b9";
}

.icon-bilibili1:before {
  content: "\e609";
}

